- const image_path = '/assets/img/'
- const css_path = '/assets/css/'
- const js_path = '/assets/js/'
//- const image_path = '/example/assets/img/'
//- const css_path = '/example/assets/css/'
//- const js_path = '/example/assets/js/'
- const domain = 'https://example.com/'
- const jquery = false
- const vue = true
-
    const pages = {
        top : {
        url : 'index.html',
        name : 'トップページ',
        title : 'トップページ',
        description : 'トップページです',
        keywords : 'トップページ',
        image : 'assets/img/ogp.jpg'
        }
    }